@import "tailwindcss";

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/font/static/Vazirmatn-Regular.woff2') format('woff2'),
       url('./assets/font/static/Vazirmatn-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/font/static/Vazirmatn-Bold.woff2') format('woff2'),
       url('./assets/font/static/Vazirmatn-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #fff7ed;
}
